/* ----------------------------------------------------------
   Nav - global
   ------------------------------------------------------- */

.nav{
    @extend .list--horizontal;
    @extend .list;
    width: 100%;
    // higher spec for reset
    li.nav__item{
        margin-bottom: 0;
        margin-right: 0;
    }
}


/* ----------------------------------------------------------
   Main navigation
   ------------------------------------------------------- */


/* ----------------------------------------------------------
  Mobile navigation -- burger, fixed nav...
   ------------------------------------------------------- */