.c-grid__title {
	padding-right: 26px;
	position: relative;
	display: block;

	&:after {
		position: absolute;
		display: block;
		content: '';
		top: 12px;
		right: 0;
		width: 26px;
		height: 10px;
		background-repeat: no-repeat;
		transform: translateX(0px) translateZ(0);
		transition: transform .2s ease-out;
		background: url('./assets/medias/images/arrow-right.png');
	}

	.c-grid__article:hover &:after {
		transform: translateX(10px) translateZ(0);
	}
}

.c-grid__article {
	padding-bottom: $margin-lg;
	cursor: pointer;
	position: relative;
}

.c-grid__article__img__wrapper {
	@extend %e-box;
	position: relative;
	bottom: 0;
	left: 0;
	overflow: hidden;
	display: block;
	width: 100%;

	&:before {
		position: relative;
		content: '';
		display: inline-block;
		padding-top: 75%;
		width: 100%;
	}
}

.c-grid__article__img {
	object-fit: cover;
	width: auto;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: $red;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity .3s ease-out;
	}

	.c-grid__article:hover &:after {
		opacity: .5
	}
}

.c-grid__article__date {
	@extend .t-regular;

	font-size: $font-size-sm;
}

.c-grid__article__category {
	margin-top: $margin-lg;
	margin-bottom: $margin-xs;
}

.c-grid__article__net {
	height: 1px;
	width: 100%;
	display: block;
	background-color: $gray-lighter;
	margin: 20px 0px;
}

.c-grid__article__text {
	color: $gray;
	line-height: 22px;
}
