.c-header {
	padding-top: 100px;

	&__navigation {
		margin-right: 10px;

		&__item {
			margin: 0 15px;

			a {
				display: inline-block;
				vertical-align: bottom;
			}
		}

		&--lang {
			margin-right: 0;

			.c-header__navigation__item {
				margin: 0 5px;
			}
		}
	}
}