.c-main-title {
	margin-top: 70px;

	&__line {
		position: relative;
		display: inline-block;

		&:after {
			content: '';
			position: absolute;
			bottom: 9px;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: $black;
		}
	}
}