.c-nav {
    display: inline-block;
    vertical-align: middle;
}

.c-nav__wrapper {
	text-align: right;
	display: inline-block;
}

.c-nav__item {
	font-size: $font-size-lg;
	display: inline-block;
	margin-left: $padding-lg;
}

.c-nav__item__link {
	@extend %reset-link;

	color: $black;
	position: relative;
	&:hover {
		color: $black;
	}

	&:after {
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: $black;
		content: '';
		transform: scale(0.01, 0.01) translateZ(0);
		opacity: 0;
		transition: transform .3s ease-out, opacity .3s ease-out;
	}

	&:hover:after {
		transform: scale(1, 1) translateZ(0);
		opacity: 1;
	}
}

.c-nav__search {
	height: 18px;
	width: auto;
}

.c-nav__list {
	@extend %reset-list;
}