.c-slider-strate {
	margin-top: 130px;
	margin-bottom: 130px;

	&__slider {
		margin-top: 70px;
		height: 150px;
		position: relative;

		&:before {
			content: '';
			height: 100%;
			position: absolute;
			background-color: $grey;
			width: 150vw;
			left: 0;
			top: 0;
		}
	}
}