@charset 'utf-8';

/*
	good reads about conventions, architecture, naming... Please add to the list
	This will probably be replaced by a RTFM link when the page exists :D

	http://davidtheclark.com/scss-lint-styleguide/
	https://sass-guidelin.es/
	http://basscss.com/
	https://github.com/moklick/frontend-stuff
*/

@import 'settings/variables',
		'vendor/bootstrap';

// Settings
@import 'settings/normalize',
		'settings/reset',
		'settings/easings',
		'settings/mixins',
		'settings/fonts';

// Utilities
@import 'utilities/helpers',
		'utilities/spacings',
		'utilities/animations',
		'utilities/colors',
		'utilities/boxes';

// Base
@import 'base/base',
		'base/typography',
		'base/cms',
		'base/lists',
		'base/forms';

// Theme
@import 'theme/animations';

// Components
@import 'components/button',
		'components/breadcrumb',
		'components/checkboxes-radios',
		'components/icons',
		'components/media',
		'components/cards';

// Layouts
@import 'layout/common',
		'layout/footer',
		'layout/header',
		'layout/nav';

// Pages
@import 'pages/home';

@import 'shame';
