body {
    font-family: $main-font;
    font-weight: $font-regular;
    font-size: 20px;
    line-height: 30px;
    color: $black;
    position: relative;
}

.wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100vw;
}

@include selection {
	background-color: $black;
	color: $white;
}

.t-bg-black {
    @include selection {
        background-color: $black;
        color: $white;
    }    
}