$font-path: './assets/fonts/';

$font-size-h2: 12px;
$font-size-h3: 65px;
$font-size-h4: 28px;
$font-size-h5: 11px;

$font-size-xl: 65px;
$font-size-lg: 16px;
$font-size-md: 14px;
$font-size-sm: 11px;

$padding-xl: 80px;
$padding-lg: 35px;
$padding-md: 10px;
$padding-sm: 5px;

$margin-xl: 45px;
$margin-lg: 30px;
$margin-md: 15px;
$margin-sm: 10px;
$margin-xs: 5px;