$grid-gutter-width: 30px;
$grid-columns: 12;

$bp-mobile: 480px;
$bp-tablet: 767px;
$bp-desktop: 1080px;
$bp-wide: 1370px;

// https://github.com/sass-mq/sass-mq
// example use :
//	 	@include mq($from: mobile, $until: tablet) {
//        background: red;
//      }
$mq-breakpoints: (
    mobile:  $bp-mobile,
    tablet:  $bp-tablet,
    desktop: $bp-desktop,
    wide:    $bp-wide
);

$breakpoints: (
    lg:    	$bp-wide,
    md: 	$bp-desktop,
    sm:  	$bp-tablet,
    xs:  	$bp-mobile,
);

// Bootstrap
// $screen-xs: ;
$screen-sm: $bp-tablet;
$screen-md: $bp-desktop;
$screen-lg: $bp-wide;

// fonts
$sans-serif: "proxima-nova", Helvetica, Arial, sans-serif;
$serif: "minion-pro", "Times New Roman", Times, serif;

$bold: 700;
$medium: 400;
$light: 300;

// spaces
$spacing-xl: 80px;
$spacing-lg: 50px;
$spacing-md: 30px;
$spacing-sm: 20px;
$spacing-xs: 15px;
$spacing-0: 	0;
$spacings: (
	"xl": $spacing-xl,
	"lg": $spacing-lg,
	"md": $spacing-md,
	"sm": $spacing-sm,
	"xs": $spacing-xs,
	"0":  $spacing-0
);

$black: #111111;
$white: #ffffff;
$pink: #ff99ac;
$grey: #efefef;
$grey-light: #f7f7f7;
$black-50: #888888;
$red: #c0392b;
$colors: ( 
	"black": 		$black,
	"white": 		$white,
	"pink": 		$pink,
	"grey": 		$grey,
	"grey-light": 	$grey-light,
	"black-50": 	$black-50,
	"red": 			$red,
);