@mixin pad-ratio($x, $y) {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        padding-top: percentage($y / $x);
    }

    > a > picture,
    > a > img,
    > picture,
    > img {
        position: absolute;
        top: 0;
        left: 0;
    }
}