.icon {
	display: inline-block;

	&--colorz-full {
		width: 115px;
		height: 26px;
	}

	&--colorz-mini {
		width: 40px;
		height: 40px;
	}

	&--arrow-right {
		width: 25px;
		height: 15px;
		stroke-width: 2px;
	}
}