.t-h1 {
	font-weight: $font-bold;
	font-size: 150px;
	line-height: 130px;
	letter-spacing: -6px;
	color: $black;
}

.t-h2 {
	font-weight: $font-light;
	font-size: 95px;
	line-height: 105px;	
	letter-spacing: -2px;
}

.t-h3 {
	font-weight: $font-light;
	font-size: 50px;
	line-height: 50px;
	letter-spacing: 0px;

	&--big {
		line-height: 60px;
	}
}