/* 
    used to format key/values pairs
    http://maxdesign.com.au/articles/definition/
    https://html.spec.whatwg.org/multipage/grouping-content.html#the-dl-element
    use : 
    <dl>
        <div>
            <dt>Term</dt>
            <dd>Definition</dd>
        </div>
        <div>
            <dt>Term</dt>
            <dd>Definition</dd>
        </div>
    </dl>
*/

.dl-keyvalues{
    dt:after{
        content: ' : '
    }
    div{
        overflow: hidden;
        white-space: nowrap; // no line break
    }

    .inline-block + .inline-block:before{
        // horizontal mode
        content: ' - '
    }
}

/* 
    PS there is a .list class to reset margin and paddings.
    We keep it on default <ul> because it is often needed in CMS-output lists
    So most of the time you will use ul.list for templating purpose :D
*/

.list--horizontal{
    li{
        display: inline-block;
        vertical-align: middle;
        margin-bottom: .5em;
        &:not(:last-child){
            margin-right: .7em;
        }
    }
}

.list--icon{
    li{
        // allows multiline to wrap nicely
        text-indent: -1.8em;
        margin-left: 1.8em;
    }

    li + li{
        margin-top: 1.2em;
    }
    
    li:before{
        content:'';
        width: .8em;
        height: 1em;
        display: inline-block;
        vertical-align: middle;
        margin-right: 1em;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='green' d='M24 5.316l-2.734-2.734L7.9 15.95l-5.166-5.165L0 13.52l7.9 7.898 2.733-2.734'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
    }
}
