/* 
  Everything typography ! font sizes, common texts, links, headings...
*/

// put this class on the body if needed

.antialiased{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// common heading styles

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  // we could use some tool like modular scale / vertical rythm ...
  // sassline.com
  // modularscale.com
  font-family: $sans-serif;
  margin-bottom: .6em;
  margin-top: 0;
}

h1, .h1 {
  font-size: 30px;
}

h2, .h2 {
  font-size: 24px;
}

// paragraphes and common definitions
// helpers class should remain in the helpers file (/utilities/_helpers.scss)

p{
  margin: 0;
  line-height: 1.4;
  & + p {
    margin-top: 1em;
  }
}

a{
  color:inherit;
  &:focus{}
  &:hover{}
}

// .link class for global link style

.link{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    bottom: -0.25em;
    left:0;
    width: 100%;
    border-bottom: 1px solid;
    transform: scaleX(0);
    opacity: .5;
    transition: transform .15s $ease-out-quint;
  }
  &:hover:after{
    transform: none;
  }
}

strong{
  font-weight: $bold;
}

em{}
blockquote{}